@model int[]

<div class="text-center">
    <h1>Here are some numbers!</h1>
    <div class="border border-dark" style="width: 18rem; border 5px">
    @foreach (var number in Model){
        <p>@number</p>
    }
</div>
</div>