@using ViewModelFun.Models
@model User

<style>
    .custom-margin {
        margin-top: 200px; /* Ajusta el valor según tus preferencias */
    }
</style>

<div class="text-center">
    <h1>Here is a User!</h1>
    <h1 class="font-weight-bold custom-margin">@Model.Nombre @Model.Apellido</p>
</div>